.dashboard-content{
    background-color:aliceblue;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 2px 5px rgb(243, 238, 238);
    border-radius: 10px;
    height: 90%;
    width: 1270px;
}
.containers{
    display: flex;
    height: 90px;
    background-color:rgb(226, 229, 231);
    width: 300px;
    align-items: center;
    box-shadow: 0 0 2px 0 rgb(179, 166, 166);
    justify-content: space-between;
    cursor: pointer;
}

.containers img{
    height: 88px;
    border-radius: 100px;
}
.containers h4{
   margin-top: 0%;
    color: rgb(11, 13, 14);
    font-size: 15px;
    color: rgb(14, 6, 48);

}
.containers:hover{
    background-color: rgb(102, 115, 231);
    
}
.containers span{
    color:white;
    font-size: 30px;
    width: 70px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 19, 80);
}
.dashboard-content>button{
height: 60px;
width: 60px;
background-color: rgb(243, 243, 249);
border-radius:30px;
margin-top: 480px;
margin-left: 1160px;
}
.footer-icon{
   color: rgb(10, 30, 56);
}
/* .carousel{ */
    /* height: 500px;
    width: 900px;
    background-color: black;
    margin: 40px;
    margin-left: 10px;
} */