.sidebar-container{
    width:250px;
    background-color:aliceblue;
      box-shadow: 0 4px 8px 0 rgb(23, 21, 26);
  height: 100%;
    }
    .sidebar-header{
        height: 200px;
        width:250px;
        background-image: linear-gradient(to right,white, white,blue);
        display: flex;
        justify-content: center;
        align-items: center;
       
      }
    img{
        height: 90px;
        width:100px;
        border-radius: 40px;
        }
     .sidebar-container ul li{
      list-style: none;
      height: 78px;
     }
     .sidebar-container li{
      display: flex;
      align-items: center;
      box-shadow: 0 2px 0 0 rgb(239, 234, 234);
     }
     h3{
      cursor: pointer;
      font-size: 25px;
      font-weight: bold;
      margin-left: 20px;
     }
     .sidebar-container li :hover
    {
    background-color: rgb(246, 205, 152);
    }