.rightside-content
{
margin-left: 310px;
}
.top-bar{
    height:80px;
    background-color:rgb(176, 200, 204);
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 black;
    display: flex;
    margin-right: 10px;
    

}
.top-bar span{
    margin-left: 10px;
    color:rgb(229, 78, 18);
    font-size: 40px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.top-bar h3{
color: rgb(89, 3, 101);
font-family:'Times New Roman', Times, serif;
}

.user img{
    height: 60px;
margin-left: 900px;
padding: 7px;
}
