.Register-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.Register-form-body {
  height: 500px;
  width: 350px;
  background-image: linear-gradient(
    to right,
    rgb(246, 250, 249),
    rgb(206, 206, 195)
  );
  box-shadow: inset 0 5px 10px rgb(34, 41, 44);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.Register-form-body > h4 {
  font-size: 25px;
  color: rgb(19, 38, 44);
  margin: 30px;
  border-bottom: 1px solid rgb(45, 43, 42);
}
.box {
  width: 300px;
  padding: 12px;
  margin: 10px;
  width: 95%;
  border: none;
  outline: none;
  font-size: 1rem;
  color: black;
  border-radius: 20px;
  background-color: rgb(246, 244, 239);
  box-shadow: inset -3px -3px black;
}
.Register-icon {
  margin-top: 25px;
}
.submit {
  padding: 10px 20px;
  width: 30%;
  box-shadow: inset -3px -3px rgb(30, 30, 31);
  border-radius: 10px;
  background-color: rgb(181, 173, 156);
  margin-left: 10px;
}
.submit:hover {
  background-color: rgb(113, 113, 172);
}




/* .Register-container{
    height: 100vh;
width: 100vw;
 display: flex;
 justify-content: center;
  text-align: center;
 align-items: center;
 
}
.Register-form-body{
    height: 400px;
    width: 300px;
    background-image: linear-gradient(to right,rgb(246, 250, 249),rgb(206, 206, 195));
    box-shadow:inset 0 5px 10px rgb(34, 41, 44);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    }
    .Register-form-body>h4{
        font-size: 25px;
        color: rgb(19, 38, 44);
        margin:30px;
        border-bottom: 1px solid rgb(45, 43, 42);
    }
    .box{
        width: 300px;
        padding: 12px;
        margin: 10px;
        width: 95%;
        border: none;
        outline: none;
        font-size: 1rem;
        color: black;
        border-radius: 20px;
        background-color: rgb(246, 244, 239);
        box-shadow: inset -3px -3px black;
    }
      .Register-icon{
        margin-top: 25px;
      }
       .submit{
        padding: 10px 20px;
        width: 30%;
        box-shadow: inset -3px -3px rgb(30, 30, 31);
        border-radius: 10px;
        background-color: rgb(181, 173, 156);
        margin-left: 10px;
              }
              .submit:hover{
                background-color: rgb(113, 113, 172);
              } */