.setting-container{
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 2px 5px rgb(243, 238, 238);
    border-radius: 10px;
    height: 90%;
    width: 1270px;
    background-color: aliceblue;
}
.setting-header{
  height: 80px;
  font-size: 15px;
  margin: 10px;
  color: rgb(24, 24, 79);
  font-size: 20px;
}