body{
    background-image: url("./asset/background.jpg");
}
.header{
    margin-top: 5px;
    width:85%;
    margin-left: 220px;
    position: absolute;
}
.sidebar{
    margin-top: 10px;
    position: relative;
    margin-top:0;
}
.outlet{
    position: relative;
    margin-top: 80px;
    margin-left: 20px;
    height: 100vh;

}
