/* .login-wrapper{
height: 100vh;
width: 100vw;
 display: flex;
 justify-content: center;
  text-align: center;
 align-items: center;
} */
/* .form-body{
    height: 350px;
    width: 350px;
    background-image: linear-gradient(to right,rgb(218, 235, 230),rgb(131, 99, 99));
    box-shadow: 0 5px 10px rgb(34, 41, 44);
    border-radius: 10px;
    }
h4{
    margin-top: 60px;
    font-size: 25px;
    color: rgb(243, 242, 237);
}
.login-input-box{
    height: 20%; 
    background: transparent;
}
.login-input-box input{
    width: 90%;
    height: 60%;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    font-size: 15px;
    }
.icon{
    position: absolute;
    transform: translateY(20%);
    margin-left: 10px;

}
.input-box ::placeholder{
  
    font-size: 20px;
    color: rgb(236, 224, 210);
    
    }
.login-btn{
    height: 15%;
    width: 40%;
    border-radius: 20px;
    cursor:pointer;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(137, 119, 81);
}
.login-btn:hover{
    background-color: rgb(187, 212, 176);
} */
.login-container{
    height: 100vh;
width: 100vw;
 display: flex;
 justify-content: center;
  text-align: center;
 align-items: center;
 background-image: url("./asset/login.jpg");
 
}
.form-body{
    height: 350px;
    width: 350px;
    background-image: linear-gradient(to right,rgb(246, 250, 249),rgb(206, 206, 195));
    box-shadow:inset 0 5px 10px rgb(34, 41, 44);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    }
    .form-body>h4{
        font-size: 25px;
        color: rgb(19, 38, 44);
        margin:30px;
        border-bottom: 1px solid rgb(45, 43, 42);
    }
    .box{
        width: 300px;
        padding: 12px;
        margin: 10px;
        width: 95%;
        border: none;
        outline: none;
        font-size: 1rem;
        color: black;
        border-radius: 20px;
        background-color: rgb(246, 244, 239);
        box-shadow: inset -3px -3px black;
    }
      .login-icon{
        margin-top: 25px;
      }
       .submit{
        padding: 10px 20px;
        width: 30%;
        box-shadow: inset -3px -3px rgb(30, 30, 31);
        border-radius: 10px;
        background-color: rgb(181, 173, 156);
        margin-left: 10px;
              }
              .submit:hover{
                background-color: rgb(113, 113, 172);
              }